body{
  margin: 0px;
  padding: 0px;
  background: url(http://localhost/test/armada-web-project/Images/bg.png);
  background-size: cover;
  background-attachment: fixed;
}

div.col.sm-8 p{
  text-justify: auto;
}

section div.wave {
  position: absolute;
  width: 100%;
  height: 143px;
  bottom: 0;
  left: 0;
  background: url(http://localhost/test/armada-web-project/Images/wave.png);
  opacity: 0.5;
  animation: animate 10s linear infinite ;
}

@keyframes animate{
  
  0%
  {
    background-position : 0;
  }
  100%
  {
    background-position : 1360px;
  }
  
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid black;
  }

#pied_de_page div  {
  display: flex;
  justify-content: center;
}

div.card.mb-4.border.border-secondary:hover{
  box-shadow: -1px 9px 40px -12px;
}

div.card.text-center.border.border-secondary.mt-5{
  padding: 6px;
}

div#conn{
 border: 1px  #459bd4 solid;
}

div#ins{
  border: 1px  #459bd4 solid;
  padding: 10px;
 }

footer {
  margin-top: 60px;
}

div.card.col-md-4{
  padding-left: 0%;
  padding-right: 0%;
  margin: 5px;
  width: 50%;
}

div.container{
  padding-left: 0%;
  padding-right: 0%;
}

img.card-img-top{
  height: 200px; 
  width: 100%; 
  display: block;
}